.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform-version
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!examples/from-scratch-eks-blueprint/secrets-example.tfvars
!examples/from-vpc-eks-blueprint/secrets-example.tfvars

kubeconfig*

# Editors
.vscode/
/.idea/

# macOS
.DS_Store
